@charset "UTF-8";
*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 微软雅黑;
}
.clearfloat:after{
    display: block;
    clear: both;
    content: '';
    visibility: hidden;
    height:0;
}
h4{
    font-weight:normal;
    margin:20px 0  10px 10px;
}
ul{
    list-style: none;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #71c2a1;
}

header,#headimg{
    width:100%;
}
main{
    width:95%;
    margin:0 auto;
}
#left,#right,#main
{
    float: left;
}
#left{
    width:10%;
}
#right{
    width:25%;
}
#main{
    width:65%;
}

@media screen and (min-width:601px ){
    /*header*/
    header{
        height:60px;
    }
    .logo,nav{
        float: left;
    }
    .logo{
        width:10%;
        text-align: center;
    }
    nav{
        width:90%;
        height:60px;
        line-height:60px;
    }

    .logo #logo{
        height:58px;
    }
    nav #hful,nav #hsul{
        float: left;
    }
    nav #hful{
        width:80%;
    }
    nav #hsul{
        width:20%;
    }
    nav #hful li{
        display: inline-block;
        width:15%;
        text-align: center;
    }
    nav #hful li a{

    }
    nav #hsul li{
        display: inline-block;
        width:20%;
        text-align: center;
    }

}
#headimg img{
    width:100%;
}

/*main*/

/*left*/
#left{
    /*position: fixed;*/
    position: absolute;
    top:668px;
    left:20px;
}
#left ul{
    background-color: #71c1a0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;;
}
#left ul li{
    text-align: center;
    padding:5px;
}
#left ul li a{
    color: #fff;
}
#left ul li a:hover{
    color: rgba(127, 127, 127, 0.88);
}
#main{
    margin-left:10%;
}
#main section h4{
}
#main section ul{
    width:100%;
}
#main section ul li{
    width:24%;
    display: inline-block;
    padding:10px;
    margin-bottom:5px;
    background-color: #eee;
    text-align: center;
}

/*#in_ceil{
    width:24%;
    display: inline-block;
    padding:10px;
    margin-bottom:5px;
    background-color: #eee;
    text-align: center;
}

#in_img{
    width:100%;
    height:160px;
    max-height:160px;
}*/



#main section ul li a figure img{
     width:100%;
     height:160px;
     max-height:160px;
 }


/*right*/
@keyframes mycartoon {
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
}
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }
}
#right ul li{
    margin-top:2px;
}
#right ul li .spanimg{
    display: inline-block;
    width:15%;
}
#right ul li .spantitle{
    display: inline-block;
    width:85%;
}
#right ul li:hover .spanimg img{
    animation:mycartoon 1s linear;
    -webkit-animation:mycartoon 1s linear;
    -moz-animation: mycartoon 1s linear;
    -webkit-box-shadow: inset 1px  1px  2px #ccc;
    -moz-box-shadow: inset 1px  1px  2px #ccc;
    box-shadow:inset  0  0  2px #ccc;
    border:1px solid #aaa;
}

#right ul li .spanimg img{
    width:40px;
    height:40px;
    border-radius:50%;
    padding:2px;
    border:1px solid #ccc;
    vertical-align:middle;

}
#right ul li .spantitle{
    font-size:0.8em;
}


@media screen and (max-width:992px ){
    #main section ul li{
        width:32%;
    }
}
@media screen and (max-width:925px ){
    nav #hful{
        width:75%;
    }
    nav #hsul{
        width:25%;
    }
    nav #hful li{
        width:17%;
    }

    #right ul li .spantitle{
       padding-left:10px;
    }
}
@media screen and (max-width:825px ){
    #right{
        display: none;
    }
    #main{
        width:90%;
    }
    #main section ul li{
        width:24%;
    }
    #main section ul li a figure img{
        height:150px;
        max-height:150px;
    }

}
@media screen and (max-width:760px ){
    /*nav #hful{*/
        /*width:70%;*/
    /*}*/
    /*nav #hsul{*/
        /*width:30%;*/
    /*}*/
    nav #hful li{
        width:17%;
    }
    nav #hful li a{

    }
    nav #hsul li{
        width:30%;
    }
    #left{
        display: none;
    }
    main{
        width:98%;
    }
    #main{
        margin-left:auto;
        width:100%;
    }
    #main section ul li{
        width:24.3%;
    }

}
@media screen and (max-width: 650px){
    #main section ul li{
        width:32%;
    }
    #main section ul li a figure img{
        height:130px;
        max-height:130px;
    }
    #main section ul li a figure figcaption{
        font-size: 0.8em;
    }
}