@charset "UTF-8";
*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 微软雅黑;
}
ul{
    list-style: none;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
h4{
    font-weight:normal;
    margin:20px 0  10px 10px;
}
.clearfloat:after{
    display: block;
    clear: both;
    content: '';
    visibility: hidden;
    height:0;
}

/*src*/
body{
    width:95%;
    margin:0 auto;
}
header,main{
    width: 100%;
}
.wt{
    width:75%;
    float: left;
}
#right{
    width:20%;
    float: left;
}
.src{
    margin-top:18px;
}
.src span{
    padding:0 5px;
}
.src .srcspan{
    display: inline-block;
    width:30px;
}
.src .srcspan img{
    width:26px;
    vertical-align: -1px;
}
.src span a:hover {
    color: #71c2a1;
}
/*main*/
.wt{
    margin-right:5%;
}
.wt h4{
    font-size: 18px;
    margin-left:0;
    padding-bottom:5px;
    border-bottom: 1px solid  #71c2a1;
}
.seller{
    margin-right:20px;
    border-bottom: 1px solid  #ddd;
    padding-bottom:8px;
    margin-bottom: 15px;
}
.seller:last-child{
    border-bottom:1px solid transparent;
}
.seller .sellerleft{
    padding-top:38px;
    float: left;
    width:15%;
}
.seller .sellerright{
    float: left;
    width:85%;
    /*padding-right:10%;*/
}
.sellerleft .sellerimg{
    width:50%;
}
.sellerleft .sellerimg img{
    width:100%;
    cursor: pointer;
}
.sellerleft .sellerspan{
    margin:0 auto;
}
.sellerleft .sellerspan span:first-child{
    font-size:0.9em;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
}
.sellerleft .sellerspan span:last-child{
    font-size:0.8em;
    color: rgba(0,0,0,0.6);
}
.sellerright a{
    color: #ff5d58;
    font-family: '华文新魏';
}
.sellerright a:hover{
    color: #ffc33d;
}
.sellerright p{
    padding-top:10px;
    padding-bottom:5px;
    font-family: '隶书';
    font-size: 1.2em;
    color:rgba(0,0,0,0.8);
}
.sellerright p a{
    color: #000;
}
.sellerright p a:hover{
    color: #ff956a;
}
.gimg li{
    display: inline-block;
    width:20%;
    margin-right:2%;
}
.gimg li img{
    width:100%;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    height:130px;
}
.dimg{
    margin-top:3px;
}
.dimg li{
    display: inline-block;
    font-size:0.8em;
    color: rgba(0,0,0,0.8);
}
.dimg li:first-child{
    float: left;
}
.dimg li:nth-child(2){
    padding-right:12%;
    padding-left:3%;
}
.dimg li:nth-child(2),.dimg li:last-child{
    float: right;
    cursor: pointer;
}
.dimg li:nth-child(2):hover,.dimg li:last-child:hover{
    color: #ffc33d;
}
.dimg li img{
     width:15px;
     padding-right:2px;
     vertical-align: -1px;
 }

/*right*/
@media screen and  (min-width: 1145px){
    @keyframes mycartoon {
        0%{
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
        }
    }
    #right ul li{
        margin-top:2px;
    }
    #right ul li .spanimg{
        display: inline-block;
        width:15%;
    }
    #right ul li .spantitle{
        display: inline-block;
        width:85%;
    }
    #right ul li:hover .spanimg img{
        animation:mycartoon 1s linear;
        -webkit-animation:mycartoon 1s linear;
        -moz-animation: mycartoon 1s linear;
        -webkit-box-shadow: inset 1px  1px  2px #ccc;
        -moz-box-shadow: inset 1px  1px  2px #ccc;
        box-shadow:inset  0  0  2px #ccc;
        border:1px solid #aaa;
    }

    #right ul li .spanimg img{
        width:40px;
        height:40px;
        border-radius:50%;
        padding:2px;
        border:1px solid #ccc;
        vertical-align:middle;

    }
    #right ul li .spantitle{
        font-size:0.8em;
    }
}
@media screen and (max-width: 1145px){
    .wt{
        width:100%;
    }
    #right{
        display: none;
    }
}
@media screen and (max-width: 800px){
    .gimg li img{
        max-height:100px;
    }
}
@media screen and (max-width: 600px){
    .gimg li img{
        max-height:80px;
    }
    .sellerspan span{
        display: block;
    }
}