<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /><!--Responsive layout：响应式布局-->
    <link rel="stylesheet" type="text/css" href="/static/css/normal.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/publish.css" />
    <title>我要发布</title>
</head>
<body>

<!--所有内容-->
<div style="max-width: 1400px;margin: 0 auto;">
<!--主体开始-->
<div class="issuemain">
      <div class="row1">
          <div class="col-12 tit">
              <img  src="/static/img/fabu.png"/>
              <span>我要发布</span>
          </div>
      </div>

    <div class="row2  content">
        <div class="col-2 blank"></div>
        <div class="col-7 formmain">
            <div class="row3">
                <div class="col-12 upload">
                    <label for="file_up" style="cursor: pointer">
                    <img id="up_img" src="/static/img/upload.png"/><br/>
                        <span>点击添加图片</span>
                    </label>
                </div>
                <div class="col-12 table">
                    <form th:action="@{/material_upload}" method="post"
                          th:object="${material}" enctype="multipart/form-data">
                        <div class="col-3 span">
                            <span>名称</span>
                        </div>
                        <div class="col-9">
                            <input id="text1" th:field="*{name}" onclick="document.getElementById('text1').style.backgroundColor='#fff'" class="input1" type="text" size="25" placeholder="少于25字"/>
                        </div>
                    <div id="textarea">
                        <div class="col-3 span">
                            <span>描述</span>
                        </div>
                        <div class="col-9">
                            <textarea id="text2" th:field="*{description}" onclick="document.getElementById('text2').style.backgroundColor='#fff'" class="input1" rows="5" placeholder="商品用途、新旧程度、原价等信息"></textarea>
                        </div>
                    </div>
                    <input type="file" name="image" id="file_up"  style="display: none;" />
                        <div class="col-3 span">
                            <span>价格</span>
                        </div>
                        <div class="col-9">
                            <input  id="text4" th:field="*{price}" onclick="document.getElementById('text4').style.backgroundColor='#fff'" class="input2" type="text"  placeholder="&yen; "/>
                        </div>
                        <div class="col-3 span">
                            <span>类别</span>
                        </div>
                        <div class="col-9">
                            <select th:field="*{category}">
                                <option value="盆器">盆器</option>
                                <option value="装饰">装饰</option>
                                <option value="种子">种子</option>
                                <option value="土壤">土壤</option>
                                <option value="化肥">化肥</option>
                                <option value="工具">工具</option>
                            </select>
                        </div>

                        <div class="submit">
                        <button value="agree" type="submit">发布</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3">

        </div>
    </div>

</div>

</div>
<script>
    document.getElementById('file_up').onchange = function() {
        var imgFile = this.files[0];
        var fr = new FileReader();
        fr.onload = function() {
            document.getElementById('up_img').src = fr.result;
        };
        fr.readAsDataURL(imgFile);
    };
</script>
</body>
</html>