<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>多肉百科</title>
    <link rel="stylesheet" type="text/css" href="/static/css/baike.css"/>
</head>
<body>
    <header class="src">
        <span class="srcspan"><img src="/static/img/logo.png" alt="logo"/></span><span><a href="index.html">首页</a><span><span>/</span><a href="details.html">多肉百科&nbsp;&raquo;</a></span></span>
    </header>
    <main>
           <section id="left">
                <h4>最新发布</h4>
               <div class="wenzhang clearfloat">
                   <div class="wenleft">
                      <a href="#"><img src="/static/img/j1.jpg"/></a>
                   </div>
                   <div class="wenright">
                        <h3>多肉植物姬胧月介绍及养护知识</h3>
                         <p>姬胧月是胧月的杂交变种，姬胧月的养殖方法不是很难，它是属于多肉植物，很有肉感，结实、好看，因此也是花友们喜爱它的主要原因之一...</p>
                        <ul>
                            <li>一周前</li>
                            <li>阅读（102）</li>
                            <li><img src="/static/img/zan.png"/>（20）</li>
                        </ul>
                   </div>
               </div>
               <div class="wenzhang clearfloat">
                   <div class="wenleft">
                       <a href="#"><img src="/static/img/j2.jpg"/></a>
                   </div>
                   <div class="wenright">
                       <h3>多肉植物病虫害用药误区解读</h3>
                       <p>夏天是多肉植物病害的高发期，什么蚧壳虫、蚜虫，什么黑腐病、煤烟病的，自然的，夏天也就成了用药的高峰期，目前为止博主遇到最哭笑不得的关于药剂使用的问题是询问关于杀菌剂怎么杀...</p>
                       <ul>
                           <li>一周前</li>
                           <li>阅读（102）</li>
                           <li><img src="/static/img/zan.png"/>（20）</li>
                       </ul>
                   </div>
               </div>
               <div class="wenzhang clearfloat">
                   <div class="wenleft">
                       <a href="#"><img src="/static/img/w3.jpeg"/></a>
                   </div>
                   <div class="wenright">
                       <h3>多肉植物铭月介绍，铭月养护方法及浇水</h3>
                       <p>铭月，又被称为金景天，茎肉质，先直立后匍匐；叶披针形，先端有钝尖，3.5厘米长、1.5厘米宽、0.6厘米厚；黄绿色，叶缘稍有点红；花白色；栽培繁殖都十分简便，是大众化的多肉种类，原产于墨西哥。...</p>
                       <ul>
                           <li>一周前</li>
                           <li>阅读（102）</li>
                           <li><img src="/static/img/zan.png"/>（20）</li>
                       </ul>
                   </div>
               </div>
               <div class="wenzhang clearfloat">
                   <div class="wenleft">
                       <a href="#"><img src="/static/img/j4.jpg"/></a>
                   </div>
                   <div class="wenright">
                       <h3>黄丽的生长习性、繁殖及养护方式</h3>
                       <p>黄丽Sedum adolphii 景天科(Crassulaceae)景天属(Sedum)多肉植物，原产于墨西哥，现在各地都有培植。黄丽叶片卵形，先端急尖，叶面平整光滑，叶背呈三角状龙骨凸起，肥厚的叶片轮生，...</p>
                       <ul>
                           <li>一周前</li>
                           <li>阅读（102）</li>
                           <li><img src="/static/img/zan.png"/>（20）</li>
                       </ul>
                   </div>
               </div>
               <div class="wenzhang clearfloat">
                   <div class="wenleft">
                       <a href="#"><img src="/static/img/j5.jpg"/></a>
                   </div>
                   <div class="wenright">
                       <h3>多肉之冬季浇水篇</h3>
                       <p>都说养多肉，度夏难。其实冬天也不简单！...</p>
                       <ul>
                           <li>一周前</li>
                           <li>阅读（102）</li>
                           <li><img src="/static/img/zan.png"/>（20）</li>
                       </ul>
                   </div>
               </div>
               <div class="wenzhang clearfloat">
                   <div class="wenleft">
                       <a href="#"><img src="/static/img/j6.jpg"/></a>
                   </div>
                   <div class="wenright">
                       <h3>多肉植物柳叶莲华怎么养？柳叶莲华的介绍</h3>
                       <p>柳叶莲华为景天科石莲花属和景天属杂交品种。...</p>
                       <ul>
                           <li>一周前</li>
                           <li>阅读（102）</li>
                           <li><img src="/static/img/zan.png"/>（20）</li>
                       </ul>
                   </div>
               </div>
               <div class="wenzhang clearfloat">
                   <div class="wenleft">
                       <a href="#"><img src="/static/img/j7.jpg"/></a>
                   </div>
                   <div class="wenright">
                       <h3>快来喜欢上她，对你好处多多多~~</h3>
                       <p>多肉植物越来越流行了，不过大部分肉友入坑都是因为美美的图片吧！其实多肉不仅漂亮可爱，还有6大好处呢！...</p>
                       <ul>
                           <li>一周前</li>
                           <li>阅读（102）</li>
                           <li><img src="/static/img/zan.png"/>（20）</li>
                       </ul>
                   </div>
               </div>
               <div class="wenzhang clearfloat">
                   <div class="wenleft">
                       <a href="#"><img src="/static/img/j8.jpg"/></a>
                   </div>
                   <div class="wenright">
                       <h3>多肉常见虫害：介壳虫、吸血虱子、蚜虫，处理办法</h3>
                       <p>中度蚧壳虫侵蚀，就要用棉签蘸酒精反复擦拭虫害部位，值得注意的是千万不可把酒精滴到叶片上；当害虫已经大面积爆发，就要使用杀虫剂了。...</p>
                       <ul>
                           <li>一周前</li>
                           <li>阅读（102）</li>
                           <li><img src="/static/img/zan.png"/>（20）</li>
                       </ul>
                   </div>
               </div>
               <div class="wenzhang clearfloat">
                   <div class="wenleft">
                       <a href="#"><img src="/static/img/j9.jpg"/></a>
                   </div>
                   <div class="wenright">
                       <h3>非常吉利的多肉植物“吸财树”让您“日进斗金”~筒叶花月</h3>
                       <p>吸财树原产南非，喜温暖干燥和阳光充足的环境，不耐寒，除盛夏要避免烈日曝晒外，其他季节都要有充足的光照。视其成长的速度来换盆，一般两年左右一次，盆的大小与冠径差不多就行。...</p>
                       <ul>
                           <li>一周前</li>
                           <li>阅读（102）</li>
                           <li><img src="/static/img/zan.png"/>（20）</li>
                       </ul>
                   </div>
               </div>

           </section>
           <aside id="right">
            <h4><img src="/static/img/wz.png"/>热门文章</h4>
            <ul>
                <li><a href=""><span class="spanimg"><img src="/static/img/w1.jpeg" alt="文章1"/></span><span class="spantitle">【多肉|白而雅的11种多肉】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w2.jpeg" alt="文章2"/></span><span class="spantitle">【十种最适合家养的多肉植物】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w3.jpeg" alt="文章3"/></span><span class="spantitle">【不小心碰掉的多肉叶子】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w4.jpeg" alt="文章4"/></span><span class="spantitle">【养多肉的好处，你知道吗?】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w5.jpeg" alt="文章5"/></span><span class="spantitle">【多肉植物的“湿土干栽”？】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w6.jpeg" alt="文章6"/></span><span class="spantitle">【楚城花事｜多肉 绿植 干花】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w7.jpeg" alt="文章7"/></span><span class="spantitle">【多肉 | 美丽的多肉庭院】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w8.jpeg" alt="文章8"/></span><span class="spantitle">【这哪里是多肉，明明是果冻！】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w9.jpeg" alt="文章9"/></span><span class="spantitle">【又是一年多肉换土时!】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w10.jpeg" alt="文章10"/></span><span class="spantitle">【识多肉之初识多肉】</span></a></li>
            </ul>

               <h4><img src="/static/img/wz.png"/>特别推荐</h4>
               <ul>
                   <li><a href=""><span class="spanimg"><img src="/static/img/w1.jpeg" alt="文章1"/></span><span class="spantitle">【多肉|白而雅的11种多肉】</span></a></li>
                   <li><a href=""><span class="spanimg"><img src="/static/img/w2.jpeg" alt="文章2"/></span><span class="spantitle">【十种最适合家养的多肉植物】</span></a></li>
                   <li><a href=""><span class="spanimg"><img src="/static/img/w3.jpeg" alt="文章3"/></span><span class="spantitle">【不小心碰掉的多肉叶子】</span></a></li>
                   <li><a href=""><span class="spanimg"><img src="/static/img/w4.jpeg" alt="文章4"/></span><span class="spantitle">【养多肉的好处，你知道吗?】</span></a></li>
                   <li><a href=""><span class="spanimg"><img src="/static/img/w5.jpeg" alt="文章5"/></span><span class="spantitle">【多肉植物的“湿土干栽”？】</span></a></li>
                   <li><a href=""><span class="spanimg"><img src="/static/img/w6.jpeg" alt="文章6"/></span><span class="spantitle">【楚城花事｜多肉 绿植 干花】</span></a></li>
                   <li><a href=""><span class="spanimg"><img src="/static/img/w7.jpeg" alt="文章7"/></span><span class="spantitle">【多肉 | 美丽的多肉庭院】</span></a></li>
                   <li><a href=""><span class="spanimg"><img src="/static/img/w8.jpeg" alt="文章8"/></span><span class="spantitle">【这哪里是多肉，明明是果冻！】</span></a></li>
                   <li><a href=""><span class="spanimg"><img src="/static/img/w9.jpeg" alt="文章9"/></span><span class="spantitle">【又是一年多肉换土时!】</span></a></li>
                   <li><a href=""><span class="spanimg"><img src="/static/img/w10.jpeg" alt="文章10"/></span><span class="spantitle">【识多肉之初识多肉】</span></a></li>
               </ul>
        </aside>

    </main>
</body>
</html>