<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>多肉日记</title>
    <link rel="stylesheet" type="text/css" href="/static/css/diary.css"/>
</head>
<body>
    <header class="src">
        <span class="srcspan"><img src="/static/img/logo.png" alt="logo"/></span><span><a href="index.html">首页</a><span><span>/</span><a href="details.html">多肉日记&nbsp;&raquo;</a></span></span>
    </header>
    <main>
        <section id="main">
            <h4>最新发布</h4>
            <div class="diary">
                <div class="diaryleft">
                    <a href="#"><img src="/static/img/j1.jpg"/></a>
                </div>
                <div class="diaryright">
                    <h5><a href="#">五花肉，青花瓷</a></h5>
                    <p>本文为水木在多肉联萌的投稿，如转载请注明作者和出处，原文标题辞花青（青花瓷仿写）。肉有趣，文更有趣，如果从肉的颜色来说，确实很青花瓷，徒长的多肉像首歌..经历了漫长的冬天，北方的小伙伴和肉肉们终于迎来了...</p>
                    <button>阅读全文</button>
                </div>
                <ul class="dimg">
                    <li><img src="/static/img/bq.png"/><span>种植故事</span></li>
                    <li><img src="/static/img/ll.png"/><span>3323</span></li>
                    <li><img src="/static/img/pl.png"/><span>评论</span></li>
                    <li><img src="/static/img/zan1.png"/><span>23</span></li>
                </ul>
            </div>
            <div class="diary">
                <div class="diaryleft">
                    <a href="#"><img src="/static/img/j2.jpg"/></a>
                </div>
                <div class="diaryright">
                    <h5><a href="#">陪伴是最长情的告白</a></h5>
                    <p>本文为夜阑灯灭时在多肉联萌的投稿，如转载请注明作者和出处。原文标题陪伴是最长情的告白。看着多肉慢慢变美心里一定美滋滋，别人眼里的一大步，就是自己心里的一整个世界。反倒是种久 ...</p>
                    <button>阅读全文</button>
                </div>
                <ul class="dimg">
                    <li><img src="/static/img/bq.png"/><span>种植故事</span></li>
                    <li><img src="/static/img/ll.png"/><span>3323</span></li>
                    <li><img src="/static/img/pl.png"/><span>评论</span></li>
                    <li><img src="/static/img/zan1.png"/><span>23</span></li>
                </ul>
            </div>
            <div class="diary">
                <div class="diaryleft">
                    <a href="#"><img src="/static/img/w1.jpeg"/></a>
                </div>
                <div class="diaryright">
                    <h5><a href="#">爱多肉就会懂的行为艺术</a></h5>
                    <p>本文为水木在多肉联萌的投稿，如转载请注明作者和出处，原文标题爱多肉就会懂的行为艺术。作者坐标山东莒县，世界上分为两种人，一种是喜欢多肉的，另一种则不是，喜欢多肉的在另一种人 ...</p>
                    <button>阅读全文</button>
                </div>
                <ul class="dimg">
                    <li><img src="/static/img/bq.png"/><span>种植故事</span></li>
                    <li><img src="/static/img/ll.png"/><span>3323</span></li>
                    <li><img src="/static/img/pl.png"/><span>评论</span></li>
                    <li><img src="/static/img/zan1.png"/><span>23</span></li>
                </ul>
            </div>
            <div class="diary">
                <div class="diaryleft">
                    <a href="#"><img src="/static/img/j4.jpg"/></a>
                </div>
                <div class="diaryright">
                    <h5><a href="#">五花肉，青花瓷</a></h5>
                    <p>本文为CICI在多肉联萌的投稿，如转载请注明作者和出处，原文标题锦晃星历劫飞升。锦晃星/红兔耳绝对是新手最值得入手的多肉之一，原因有三，一好养，二上色好看，三速成老桩，一个 ...</p>
                    <button>阅读全文</button>
                </div>
                <ul class="dimg">
                    <li><img src="/static/img/bq.png"/><span>种植故事</span></li>
                    <li><img src="/static/img/ll.png"/><span>3323</span></li>
                    <li><img src="/static/img/pl.png"/><span>评论</span></li>
                    <li><img src="/static/img/zan1.png"/><span>23</span></li>
                </ul>
            </div>
            <div class="diary">
                <div class="diaryleft">
                   <a href="#"><img src="/static/img/w2.jpeg"/></a>
                </div>
                <div class="diaryright">
                    <h5><a href="#">五花肉，青花瓷</a></h5>
                    <p>本文为水木在多肉联萌的投稿，如转载请注明作者和出处，原文标题辞花青（青花瓷仿写）。肉有趣，文更有趣，如果从肉的颜色来说，确实很青花瓷，徒长的多肉像首歌..经历了漫长的冬天，北方的小伙伴和肉肉们终于迎来了</p>
                    <button>阅读全文</button>
                </div>
                <ul class="dimg">
                    <li><img src="/static/img/bq.png"/><span>种植故事</span></li>
                    <li><img src="/static/img/ll.png"/><span>3323</span></li>
                    <li><img src="/static/img/pl.png"/><span>评论</span></li>
                    <li><img src="/static/img/zan1.png"/><span>23</span></li>
                </ul>
            </div>
            <div class="diary">
                <div class="diaryleft">
                    <a href="#"><img src="/static/img/j6.jpg"/></a>
                </div>
                <div class="diaryright">
                    <h5><a href="#">五花肉，青花瓷</a></h5>
                    <p>本文为水木在多肉联萌的投稿，如转载请注明作者和出处，原文标题辞花青（青花瓷仿写）。肉有趣，文更有趣，如果从肉的颜色来说，确实很青花瓷，徒长的多肉像首歌..经历了漫长的冬天，北方的小伙伴和肉肉们终于迎来了</p>
                    <button>阅读全文</button>
                </div>
                <ul class="dimg">
                    <li><img src="/static/img/bq.png"/><span>种植故事</span></li>
                    <li><img src="/static/img/ll.png"/><span>3323</span></li>
                    <li><img src="/static/img/pl.png"/><span>评论</span></li>
                    <li><img src="/static/img/zan1.png"/><span>23</span></li>
                </ul>
            </div>
            <div class="diary">
                <div class="diaryleft">
                    <a href="#"><img src="/static/img/j7.jpg"/></a>
                </div>
                <div class="diaryright">
                    <h5><a href="#">五花肉，青花瓷</a></h5>
                    <p>本文为水木在多肉联萌的投稿，如转载请注明作者和出处，原文标题辞花青（青花瓷仿写）。肉有趣，文更有趣，如果从肉的颜色来说，确实很青花瓷，徒长的多肉像首歌..经历了漫长的冬天，北方的小伙伴和肉肉们终于迎来了</p>
                    <button>阅读全文</button>
                </div>
                <ul class="dimg">
                    <li><img src="/static/img/bq.png"/><span>种植故事</span></li>
                    <li><img src="/static/img/ll.png"/><span>3323</span></li>
                    <li><img src="/static/img/pl.png"/><span>评论</span></li>
                    <li><img src="/static/img/zan1.png"/><span>23</span></li>
                </ul>
            </div>
            <div class="diary">
                <div class="diaryleft">
                    <a href="#"><img src="/static/img/j8.jpg"/></a>
                </div>
                <div class="diaryright">
                    <h5><a href="#">五花肉，青花瓷</a></h5>
                    <p>本文为水木在多肉联萌的投稿，如转载请注明作者和出处，原文标题辞花青（青花瓷仿写）。肉有趣，文更有趣，如果从肉的颜色来说，确实很青花瓷，徒长的多肉像首歌..经历了漫长的冬天，北方的小伙伴和肉肉们终于迎来了</p>
                    <button>阅读全文</button>
                </div>
                <ul class="dimg">
                    <li><img src="/static/img/bq.png"/><span>种植故事</span></li>
                    <li><img src="/static/img/ll.png"/><span>3323</span></li>
                    <li><img src="/static/img/pl.png"/><span>评论</span></li>
                    <li><img src="/static/img/zan1.png"/><span>23</span></li>
                </ul>
            </div>

        </section>
        <aside id="right">
            <h4>热门文章</h4>
            <ul>
                <li><a href=""><span class="spanimg"><img src="/static/img/w1.jpeg" alt="文章1"/></span><span class="spantitle">【多肉|白而雅的11种多肉】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w2.jpeg" alt="文章2"/></span><span class="spantitle">【十种最适合家养的多肉植物】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w3.jpeg" alt="文章3"/></span><span class="spantitle">【不小心碰掉的多肉叶子】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w4.jpeg" alt="文章4"/></span><span class="spantitle">【养多肉的好处，你知道吗?】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w5.jpeg" alt="文章5"/></span><span class="spantitle">【多肉植物的“湿土干栽”？】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w6.jpeg" alt="文章6"/></span><span class="spantitle">【楚城花事｜多肉 绿植 干花】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w7.jpeg" alt="文章7"/></span><span class="spantitle">【多肉 | 美丽的多肉庭院】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w8.jpeg" alt="文章8"/></span><span class="spantitle">【这哪里是多肉，明明是果冻！】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w9.jpeg" alt="文章9"/></span><span class="spantitle">【又是一年多肉换土时!】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w10.jpeg" alt="文章10"/></span><span class="spantitle">【识多肉之初识多肉】</span></a></li>

            </ul>
        </aside>
    </main>
</body>
</html>