<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>多肉搭配DIY</title>
    <link rel="stylesheet" type="text/css" href="/static/css/diy.css"/>
</head>
<body>
<header class="src">
    <span class="srcspan"><img src="/static/img/logo.png" alt="logo"/></span><span><a href="index.html">首页</a><span><span>/</span><a href="details.html">多肉搭配DIY&nbsp;&raquo;</a></span></span>
</header>
<main>
    <section id="duorou">
        <h4>趣味多肉</h4>
        <div class="">

        </div>
        <ul>
            <li><a href="#"><figure><img src="/static/img/j1.jpg" alt="仙女杯属西陌莎"/><figcaption>西陌莎</figcaption></figure></a></li>
            <li><a href="#"><figure><img src="/static/img/j2.jpg" alt="拟石莲花属姬葡萄"/><figcaption>姬葡萄</figcaption></figure></a></li>
            <li><a href="#"><figure><img src="/static/img/j3.jpg" alt="景天属克雷吉"/><figcaption>克雷吉</figcaption></figure></a></li>
            <li><a href="#"><figure><img src="/static/img/j4.jpg" alt="厚叶草属青星美人"/><figcaption>青星美人</figcaption></figure></a></li>
            <li><a href="#"><figure><img src="/static/img/j5.jpg" alt="莲花掌属黑法师"/><figcaption>黑法师</figcaption></figure></a></li>
            <li><a href="#"><figure><img src="/static/img/j6.jpg" alt="青锁龙属钱串"/><figcaption>钱串</figcaption></figure></a></li>
        </ul>
    </section>

    <!--section2 盆器-->
    <section id="penqi">
        <h4>精致盆器</h4>
        <ul>
            <li><a href="#"><figure><img src="/static/img/jian1.jpg" alt="简约白瓷"/><figcaption>简约白瓷</figcaption></figure></a></li>
            <li><a href="#"><figure><img src="/static/img/jian2.jpg" alt="简约白瓷"/><figcaption>简约白瓷</figcaption></figure></a></li>
            <li><a href="#"><figure><img src="/static/img/hong1.gif"   alt="红陶花器"/><figcaption>红陶花器</figcaption></figure></a></li>
            <li><a href="#"><figure><img src="/static/img/hong2.jpg" alt="红陶花器"/><figcaption>红陶花器</figcaption></figure></a></li>
            <li><a href="#"><figure><img src="/static/img/jian1.jpg" alt="木质花器"/><figcaption>木质花器</figcaption></figure></a></li>
            <li><a href="#"><figure><img src="/static/img/mu1.jpg" alt="木质花器"/><figcaption>木质花器</figcaption></figure></a></li>
        </ul>
    </section>

    <!--section3 装饰-->
    <!--改-->
    <section id="zhuangshi">
        <h4>装饰材料</h4>
        <ul>
            <li><a href="#"><figure><img src="/static/img/zhuang1.jpg" alt="装饰材料"/><figcaption>装饰材料</figcaption></figure></a></li>
            <li><a href="#"><figure><img src="/static/img/zhuang2.jpg" alt="装饰材料"/><figcaption>装饰材料</figcaption></figure></a></li>
            <li><a href="#"><figure><img src="/static/img/zhuang3.jpg" alt="装饰材料"/><figcaption>装饰材料</figcaption></figure></a></li>
            <li><a href="#"><figure><img src="/static/img/zhuang1.jpg" alt="装饰材料"/><figcaption>装饰材料</figcaption></figure></a></li>
            <li><a href="#"><figure><img src="/static/img/zhuang1.jpg" alt="装饰材料"/><figcaption>装饰材料</figcaption></figure></a></li>
            <li><a href="#"><figure><img src="/static/img/zhuang1.jpg" alt="装饰材料"/><figcaption>装饰材料</figcaption></figure></a></li>
        </ul>

    </section>

    <!--section4 土壤-->
    <section id="turang">
        <h4>土壤彩石</h4>
        <ul>
            <li><a href="#"><figure><img src="/static/img/tao1.jpg" alt="陶粒"/><figcaption>陶粒</figcaption></figure></a></li>
            <li><a href="#"><figure><img src="/static/img/wu1.jpg" alt="五合一营养土"/><figcaption>五合一营养土</figcaption></figure></a></li>
            <li><a href="#"><figure><img src="/static/img/jiu1.jpg" alt="九合一颗粒土"/><figcaption>九合一颗粒土</figcaption></figure></a></li>
            <li><a href="#"><figure><img src="/static/img/honcai1.jpg" alt="虹彩石"/><figcaption>虹彩石</figcaption></figure></a></li>
            <li><a href="#"><figure><img src="/static/img/jin1.jpg" alt="进口泥炭"/><figcaption>进口泥炭</figcaption></figure></a></li>
            <li><a href="#"><figure><img src="/static/img/lv1.jpg" alt="绿沸石"/><figcaption>绿沸石</figcaption></figure></a></li>
        </ul>
    </section>
</main>


</body>
</html>