<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>多肉微淘</title>
    <link rel="stylesheet" type="text/css" href="/static/css/weitao.css"/>
</head>
<body>
    <header class="src">
        <span class="srcspan"><img src="/static/img/logo.png" alt="logo"/></span><span><a href="index.html">首页</a><span><span>/</span><a href="details.html">多肉微淘&nbsp;&raquo;</a></span></span>
    </header>
    <main>
        <div class="wt">
            <h4>最新发布</h4>
            <div class="seller clearfloat">
               <div class="sellerleft">
                   <div class="sellerimg">
                       <img src="/static/img/h1.jpg"/>
                   </div>
                   <div class="sellerspan">
                       <span>绣球姑娘</span>
                       <span>1天前</span>
                   </div>
               </div>
                <div class="sellerright">
                    <a href="#">#热销推荐#</a>
                    <p><a href="#">三生三世，缘来如此。</a></p>
                    <ul class="gimg">
                        <li><img src="/static/img/j1.jpg"/></li>
                        <li><img src="/static/img/j2.jpg"/></li>
                        <li><img src="/static/img/j7.jpg"/></li>
                        <li><img src="/static/img/j8.jpg"/></li>
                    </ul>
                    <ul class="dimg">
                    <li><img src="/static/img/ll.png"/><span>3323</span></li>
                    <li><img src="/static/img/pl.png"/><span>评论</span></li>
                    <li><img src="/static/img/zan1.png"/><span>23</span></li>
                </ul>
                </div>
            </div>
            <div class="seller clearfloat">
                <div class="sellerleft">
                    <div class="sellerimg">
                        <img src="/static/img/h2.jpg"/>
                    </div>
                    <div class="sellerspan">
                        <span>旧街</span>
                        <span>2天前</span>
                    </div>
                </div>
                <div class="sellerright">
                    <a href="#">#萌肉图#</a>
                    <p><a href="#">立春赏肉，又是一年轮回。</a></p>
                    <ul class="gimg">
                        <li><img src="/static/img/j9.jpg"/></li>
                        <li><img src="/static/img/j10.jpg"/></li>
                        <li><img src="/static/img/w1.jpeg"/></li>
                        <li><img src="/static/img/w2.jpeg"/></li>
                    </ul>
                    <ul class="dimg">
                        <li><img src="/static/img/ll.png"/><span>2133</span></li>
                        <li><img src="/static/img/pl.png"/><span>评论</span></li>
                        <li><img src="/static/img/zan1.png"/><span>21</span></li>
                    </ul>
                </div>
            </div>
            <div class="seller clearfloat">
                <div class="sellerleft">
                    <div class="sellerimg">
                        <img src="/static/img/h3.jpg"/>
                    </div>
                    <div class="sellerspan">
                        <span>冰块儿</span>
                        <span>2天前</span>
                    </div>
                </div>
                <div class="sellerright">
                    <a href="#">#买家美肉秀#</a>
                    <p><a href="#">在冬天里的春の多肉。</a></p>
                    <ul class="gimg">
                        <li><img src="/static/img/w3.jpeg"/></li>
                        <li><img src="/static/img/f1.jpg"/></li>
                        <li><img src="/static/img/w5.jpeg"/></li>
                        <li><img src="/static/img/f2.jpg"/></li>
                    </ul>
                    <ul class="dimg">
                        <li><img src="/static/img/ll.png"/><span>3452</span></li>
                        <li><img src="/static/img/pl.png"/><span>评论</span></li>
                        <li><img src="/static/img/zan1.png"/><span>25</span></li>
                    </ul>
                </div>
            </div>
            <div class="seller clearfloat">
                <div class="sellerleft">
                    <div class="sellerimg">
                        <img src="/static/img/h4.jpeg"/>
                    </div>
                    <div class="sellerspan">
                        <span>Blue</span>
                        <span>2天前</span>
                    </div>
                </div>
                <div class="sellerright">
                    <a href="#">#新春换新#</a>
                    <p><a href="#">阳光下的多肉，看脸的世界</a></p>
                    <ul class="gimg">
                        <li><img src="/static/img/j1.jpg"/></li>
                        <li><img src="/static/img/j2.jpg"/></li>
                        <li><img src="/static/img/j7.jpg"/></li>
                        <li><img src="/static/img/j8.jpg"/></li>
                    </ul>
                    <ul class="dimg">
                        <li><img src="/static/img/ll.png"/><span>1234</span></li>
                        <li><img src="/static/img/pl.png"/><span>评论</span></li>
                        <li><img src="/static/img/zan1.png"/><span>35</span></li>
                    </ul>
                </div>
            </div>
            <div class="seller clearfloat">
                <div class="sellerleft">
                    <div class="sellerimg">
                        <img src="/static/img/h5.jpg"/>
                    </div>
                    <div class="sellerspan">
                        <span>车厘子</span>
                        <span>3天前</span>
                    </div>
                </div>
                <div class="sellerright">
                    <a href="#">#热销推荐#</a>
                    <p><a href="#">有个小暖棚，一切更美好。</a></p>
                    <ul class="gimg">
                        <li><img src="/static/img/j1.jpg"/></li>
                        <li><img src="/static/img/j2.jpg"/></li>
                        <li><img src="/static/img/j7.jpg"/></li>
                        <li><img src="/static/img/j8.jpg"/></li>
                    </ul>
                    <ul class="dimg">
                        <li><img src="/static/img/ll.png"/><span>2333</span></li>
                        <li><img src="/static/img/pl.png"/><span>评论</span></li>
                        <li><img src="/static/img/zan1.png"/><span>12</span></li>
                    </ul>
                </div>
            </div>
            <div class="seller clearfloat">
                <div class="sellerleft">
                    <div class="sellerimg">
                        <img src="/static/img/h6.jpg"/>
                    </div>
                    <div class="sellerspan">
                        <span>Come on</span>
                        <span>3天前</span>
                    </div>
                </div>
                <div class="sellerright">
                    <a href="#">#热销推荐#</a>
                    <p><a href="#">是多肉，凡露养。</a></p>
                    <ul class="gimg">
                        <li><img src="/static/img/j1.jpg"/></li>
                        <li><img src="/static/img/j2.jpg"/></li>
                        <li><img src="/static/img/j7.jpg"/></li>
                        <li><img src="/static/img/j8.jpg"/></li>
                    </ul>
                    <ul class="dimg">
                        <li><img src="/static/img/ll.png"/><span>2312</span></li>
                        <li><img src="/static/img/pl.png"/><span>评论</span></li>
                        <li><img src="/static/img/zan1.png"/><span>14</span></li>
                    </ul>
                </div>
            </div>
            <div class="seller clearfloat">
                <div class="sellerleft">
                    <div class="sellerimg">
                        <img src="/static/img/h7.jpg"/>
                    </div>
                    <div class="sellerspan">
                        <span>浮沉</span>
                        <span>4天前</span>
                    </div>
                </div>
                <div class="sellerright">
                    <a href="#">#热销推荐#</a>
                    <p><a href="#">包邮区的暖冬美肉。</a></p>
                    <ul class="gimg">
                        <li><img src="/static/img/j1.jpg"/></li>
                        <li><img src="/static/img/j2.jpg"/></li>
                        <li><img src="/static/img/j7.jpg"/></li>
                        <li><img src="/static/img/j8.jpg"/></li>
                    </ul>
                    <ul class="dimg">
                        <li><img src="/static/img/ll.png"/><span>3451</span></li>
                        <li><img src="/static/img/pl.png"/><span>评论</span></li>
                        <li><img src="/static/img/zan1.png"/><span>45</span></li>
                    </ul>
                </div>
            </div>
            <div class="seller clearfloat">
                <div class="sellerleft">
                    <div class="sellerimg">
                        <img src="/static/img/h8.jpg"/>
                    </div>
                    <div class="sellerspan">
                        <span>格式</span>
                        <span>5天前</span>
                    </div>
                </div>
                <div class="sellerright">
                    <a href="#">#热销推荐#</a>
                    <p><a href="#">多肉游记之配角也疯狂。</a></p>
                    <ul class="gimg">
                        <li><img src="/static/img/j1.jpg"/></li>
                        <li><img src="/static/img/j2.jpg"/></li>
                        <li><img src="/static/img/j7.jpg"/></li>
                        <li><img src="/static/img/j8.jpg"/></li>
                    </ul>
                    <ul class="dimg">
                        <li><img src="/static/img/ll.png"/><span>3323</span></li>
                        <li><img src="/static/img/pl.png"/><span>评论</span></li>
                        <li><img src="/static/img/zan1.png"/><span>23</span></li>
                    </ul>
                </div>
            </div>


        </div>
        <aside id="right">
            <h4>热门文章</h4>
            <ul>
                <li><a href=""><span class="spanimg"><img src="/static/img/w1.jpeg" alt="文章1"/></span><span class="spantitle">【多肉|白而雅的11种多肉】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w2.jpeg" alt="文章2"/></span><span class="spantitle">【十种最适合家养的多肉植物】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w3.jpeg" alt="文章3"/></span><span class="spantitle">【不小心碰掉的多肉叶子】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w4.jpeg" alt="文章4"/></span><span class="spantitle">【养多肉的好处，你知道吗?】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w5.jpeg" alt="文章5"/></span><span class="spantitle">【多肉植物的“湿土干栽”？】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w6.jpeg" alt="文章6"/></span><span class="spantitle">【楚城花事｜多肉 绿植 干花】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w7.jpeg" alt="文章7"/></span><span class="spantitle">【多肉 | 美丽的多肉庭院】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w8.jpeg" alt="文章8"/></span><span class="spantitle">【这哪里是多肉，明明是果冻！】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w9.jpeg" alt="文章9"/></span><span class="spantitle">【又是一年多肉换土时!】</span></a></li>
                <li><a href=""><span class="spanimg"><img src="/static/img/w10.jpeg" alt="文章10"/></span><span class="spantitle">【识多肉之初识多肉】</span></a></li>
            </ul>
        </aside>

    </main>

</body>
</html>